*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.trello{
    padding-top: 80px;
    padding-bottom: 80px;
    background: #F5F5F5;
}

.trello__wrap{
    padding: 40px 10px 40px 10px;
    border: 2px solid gray;
    border-radius: 5px;
    background: #e1e0e0;
}

.trello__title{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1170px;
    margin-bottom: 40px;
    border: 2px solid purple;
    border-radius: 5px;
    padding: 10px 10px 10px 20px;
    background: rgb(215, 178, 215);
}

.trello__title-name{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
}

#trello__title-clock{
    border: 1px solid gray;
    border-radius: 5px;
    background: #F5F5F5;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: black;
    width: 100%;
    max-width: 100px;
    padding: 5px;
}

.trello__todo-block{
    display: flex;
    column-gap: 30px;
}

#trello__todo-active--wrap{
    width: 100%;
    max-width: 365px;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 15px;
}

.trello__todo-active--item{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 100%;
    max-width: 370px;
    background-color: #6edcb3;
    border: 2px solid #1b6246;
    border-radius: 5px;
    padding: 11.5px 10px 11.5px 5px;
    margin-bottom: 10px;
}

.trello__todo-active--name{
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    color: black;
}

.trello__todo-active--amount{
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    color: black;
}

/* #trello__todo-active--caseWrap{

} */

#trello__todo-active--case{
    list-style-type: none;
    background-color: #6edcb3;
    border: 2px solid #1b6246;
    border-radius: 5px;
    padding: 11.5px 5px;
    margin-bottom: 10px;
}

.trello__todo-active--upperSection{
    display: flex;
    column-gap: 5px;
    justify-content: space-between;
    margin-bottom: 10px; 
}

.trello__todo-active--title{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: black;
}

.trello__todo-active--midSection{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: black;
}

.trello__todo-active--downSection{
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: black;
}

#trello__todo-active--editBtn{
    border: 1px solid gray;
    border-radius: 5px;
    background: #F5F5F5;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: black;
    width: 100%;
    max-width: 280px;
}
#trello__todo-active--editBtn:hover{
    box-shadow: 2px 2px 10px #949191;
}
#trello__todo-active--editBtn:active{
    box-shadow: 2px 2px 10px #1b6246;
}

#trello__todo-active--delBtn{
    border: 1px solid gray;
    border-radius: 5px;
    background: #F5F5F5;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: black;
    width: 100%;
    max-width: 280px;
}
#trello__todo-active--delBtn:hover{
    box-shadow: 2px 2px 10px #949191;
}
#trello__todo-active--delBtn:active{
    box-shadow: 2px 2px 10px #1b6246;
}

#trello__todo-active--transferBtn{
    border: 1px solid gray;
    border-radius: 5px;
    background: #F5F5F5;
    width: 100%;
    max-width: 50px;
    padding: 7px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: black;
}
#trello__todo-active--transferBtn:hover{
    box-shadow: 2px 2px 10px #949191;
}
#trello__todo-active--transferBtn:active{
    box-shadow: 2px 2px 10px #1b6246;
}

.trello__todo-active--time{
    text-align: right;
    margin-right: 5px;
}

#trello__todo-active--addTodoItem{
    width: 100%;
    max-width: 370px
}

#trello__todo-active--addTodoBtn{
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    color: black;
    background-color: #6edcb3;
    border: 2px solid #1b6246;
    border-radius: 5px;
    padding: 11.5px 0;
}

#trello__todo-active--addTodoBtn:hover{
    box-shadow: 2px 2px 10px #949191;
}
#trello__todo-active--addTodoBtn:active{
    box-shadow: 2px 2px 10px #1b6246;
}

#trello__todo-inprogress--wrap{
    width: 100%;
    max-width: 365px;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 15px;
}

.trello__todo-inprogress--item{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 370px;
    background-color: #ddc8bd;
    border: 2px solid #83736e;
    border-radius: 5px;
    padding: 11.5px 10px 11.5px 5px;
    margin-bottom: 10px;
}

.trello__todo-inprogress--name{
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    color: black;
}

.trello__todo-inprogress--amount{
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    color: black;
}

/* inprogress case */
/* #trello__todo-inprogress--caseWrap{

} */

#trello__todo-inprogress--case{
    list-style-type: none;
    background-color: #ddc8bd;
    border: 2px solid #83736e;
    border-radius: 5px;
    padding: 11.5px 5px;
    margin-bottom: 10px;
}

.trello__todo-inprogress--upperSection{
    display: flex;
    column-gap: 5px;
    justify-content: space-between;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: black;
}

.trello__todo-inprogress--description{
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: black;
}

.trello__todo-inprogress--downSection{
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: black;
}
#trello__todo-inprogress--backBtn{
    border: 1px solid gray;
    border-radius: 5px;
    background: #F5F5F5;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: black;
    width: 100%;
    max-width: 280px;
}
#trello__todo-inprogress--backBtn:hover{
    box-shadow: 2px 2px 10px #949191;
}
#trello__todo-inprogress--backBtn:active{
    box-shadow: 2px 2px 10px #83736e;
}

#trello__todo-inprogress--completeBtn{
    border: 1px solid gray;
    border-radius: 5px;
    background: #F5F5F5;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: black;
    width: 100%;
    max-width: 280px;
}
#trello__todo-inprogress--completeBtn:hover{
    box-shadow: 2px 2px 10px #949191;
}
#trello__todo-inprogress--completeBtn:active{
    box-shadow: 2px 2px 10px #83736e;
}

.trello__todo-inprogress--time{
    text-align: right;
    margin-right: 5px;
}

/* done section */

#trello__todo-done--wrap{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 365px;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 15px;
}

.trello__todo-done--item{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 100%;
    max-width: 370px;
    background-color: #9dd7dc;
    border: 2px solid #5b787a;
    border-radius: 5px;
    padding: 11.5px 10px 11.5px 5px;
    margin-bottom: 10px;
}

.trello__todo-done--name{
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    color: black;
}

.trello__todo-done--amount{
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    color: black;
}

/* #trello__todo-done--caseWrap{

} */

#trello__todo-done--case{
    list-style-type: none;
    background-color: #9dd7dc;
    border: 2px solid #5b787a;
    border-radius: 5px;
    padding: 11.5px 5px;
    margin-bottom: 10px;
}

.trello__todo-done--upperSection{
    display: flex;
    column-gap: 5px;
    justify-content: space-between;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: black;
}

#trello__todo-done--delBtn{
    border: 1px solid gray;
    border-radius: 5px;
    background: #F5F5F5;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: black;
    width: 100%;
    max-width: 120px;
}

#trello__todo-done--delBtn:hover{
    box-shadow: 2px 2px 10px #949191;
}

#trello__todo-done--delBtn:active{
    box-shadow: 2px 2px 10px #5b787a;
}

.trello__todo-done--description{
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: black;
}

.trello__todo-done--downSection{
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: black;
}

.todo-done--user{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: black;
}

.trello__todo-done--time{
    text-align: right;
    margin-right: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: black;
}

#trello__todo-done--deleteAll{
    list-style-type: none;
    width: 100%;
    max-width: 370px;
    margin-top: auto;
}

#trello__todo-done--deleteAllBtn{
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    color: black;
    background-color: #9dd7dc;
    border: 2px solid #5b787a;
    border-radius: 5px;
    padding: 11.5px 0;
}

#trello__todo-done--deleteAllBtn:hover{
    box-shadow: 2px 2px 10px #949191;
}
#trello__todo-done--deleteAllBtn:active{
    box-shadow: 2px 2px 10px #5b787a;
}

/* modal-window */

#overlay{
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.35);
    align-items: center;
    justify-content: center;
}

.active{
    display: flex!important;
}

#modal-window{
    width: 550px;
    height: 300px;
    background: rgba(108, 203, 154, 0.85);
    border-radius: 10px;
    padding: 30px;
}


#modal-window__title{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    color: black;
    border: 1px solid rgb(55, 52, 52);
    border-radius: 5px;
    background-color: #F5F5F5;
    margin-bottom: 20px;
    width: 100%;
    max-width: 200px;
}
#modal-window__text{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    color: black;
    border: 1px solid rgb(55, 52, 52);
    border-radius: 5px;
    background-color: #F5F5F5;
    margin-bottom: 40px;
    width: 100%;
    height: 100px;
}

.modal-window__buttons{
    display: flex;
    justify-content: space-between;
}
#modal-window__dropdownBtn{
    border: 1px solid gray;
    border-radius: 5px;
    background: #F5F5F5;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: black;
    width: 100%;
    max-width: 150px;
}

#modal-window__dropdownBtn:hover{
    box-shadow: 2px 2px 10px #949191;
}
#modal-window__dropdownBtn:active{
    box-shadow: 2px 2px 10px #1b6246;
}

#modal-window__cancelBtn{
    border: 1px solid gray;
    border-radius: 5px;
    background: #F5F5F5;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: black;
    width: 100%;
    max-width: 150px;
}
#modal-window__cancelBtn:hover{
    box-shadow: 2px 2px 10px #949191;
}
#modal-window__cancelBtn:active{
    box-shadow: 2px 2px 10px #1b6246;
}

#modal-window__confirmBtn{
    border: 1px solid gray;
    border-radius: 5px;
    background: #F5F5F5;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: black;
    width: 100%;
    max-width: 150px;
}

#modal-window__confirmBtn:hover{
    box-shadow: 2px 2px 10px #949191;
}
#modal-window__confirmBtn:active{
    box-shadow: 2px 2px 10px #1b6246;
}

/* #modal-warning*/

#overlayWarning{
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.35);
    align-items: center;
    justify-content: center;
}

.show{
    display: flex!important;
}

#modal-warning{
    width: 400px;
    height: 200px;
    background: rgba(108, 203, 154, 0.85);
    border-radius: 10px;
    padding: 30px;
}

.modal-warning__text{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    color: black;
    margin-bottom: 40px;
    text-align: center;
}
.modal-warning__buttons{
    display: flex;
    justify-content: space-between;
}

#modal-warning__cancelBtn{
    border: 1px solid gray;
    border-radius: 5px;
    background: #F5F5F5;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: black;
    width: 100%;
    max-width: 150px;
}
#modal-warning__cancelBtn:hover{
    box-shadow: 2px 2px 10px #949191;
}
#modal-warning__cancelBtn:active{
    box-shadow: 2px 2px 10px #1b6246;
}

#modal-warning__confirmBtn{
    border: 1px solid gray;
    border-radius: 5px;
    background: #F5F5F5;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: black;
    width: 100%;
    max-width: 150px;
}
#modal-warning__confirmBtn:hover{
    box-shadow: 2px 2px 10px #949191;
}
#modal-warning__confirmBtn:active{
    box-shadow: 2px 2px 10px #1b6246;
}
